<app-nav></app-nav>

<div class="container-fluid">
    <div class="row">

        <div class="border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary">
            <app-sidebar></app-sidebar>
        </div>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div
                class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">List of Invoices</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group me-2" *appHasRole='["SuperAdmin","Admin","Client"]'>
                        <button type="button" class="btn btn-sm btn-outline-primary" routerLink="/issue/add"><i
                                class="bi bi-plus-circle-dotted text-blue"></i><span>&nbsp;</span> Raise Issue</button>
                    </div>
                </div>
            </div>

            <ul class="list-group" *ngIf="invoices.length > 0">
                <a class="list-group-item d-flex justify-content-between align-items-start" *ngFor="let invoice of invoices" routerLink="/workorder/{{invoice.workorderId}}/invoice/detail/{{invoice.id}}">
                    <div class="ms-2 me-auto" >
                        <div class="fw-bold">Invoice Id: #{{invoice.id}}</div>
                        Created Date: {{invoice.createdDate | date}}<br>
                        Due Date: {{invoice.dueDate | date}}
                    </div>
                    <span class="badge rounded-pill"><i class="bi bi-arrow-right-short text-primary bi-icon-font-size"></i></span>
                </a>

            </ul>

            <div class="row" *ngIf="invoices.length == 0">
                <div class="col-md-4"></div>
                <div class="col-md-4 col-sm-12 text-center">
                  <div class="card text-center bg-success bg-opacity-25">
                    <div class="card-body">
                      <h5 class="card-title text-black">No Invoices</h5>
                      <p class="card-text">You don't have any invoice yet.</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4"></div>
              </div>

        </main>
    </div>
</div>

<app-footer></app-footer>