@media (min-width: 768px) {
    .mobile-only {
        display: none !important;
    }
}

.pl-3 {
    padding-left: 30px;
}

.pr-3 {
    padding-right: 30px;
}

.mt-30 {
    margin-top: 1000px !important;
}

.icon-wrapper {
    position: relative;
    display: inline-block;
  }
  
  .large-icon {
    font-size: 2.5rem; /* Keep the original size */
    position: absolute;
    top: -20px; /* Adjust to center it vertically */
    left: 50%;
    transform: translateX(-50%) scale(1.5); /* Increase size without affecting nav */
    pointer-events: none; /* Ensures it doesn’t interfere with clicks */
    /* padding-top: 200px;
    margin-top: 20px; */
  }

  .icon-background {
    background-color: #4c4e50; /* Choose any color you want */
    padding: 0px; /* Adjust to control the background size around the icon */
    border-radius: 50%; /* Makes the background circular */
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }