<nav class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-dark mobile-only">
  <div class="container-fluid ">

    <div class="text-center text-white" routerLink="/">
      <i class="bi bi-house"></i>
      <p>Home</p>
  </div>

    <div class="text-center text-white" routerLink="/issues">
        <i class="bi bi-file-earmark-text"></i>
        <p>Issues</p>
    </div>

    <div class="text-center text-white">
      <i class="bi bi-list-check"></i>
      <p>WorkOrders</p>
  </div>

  <div class="text-center text-white">
    <i class="bi bi-file-earmark-check"></i>
    <p>Invoices</p>
</div>
  </div>
</nav>