@media (min-width: 768px) {
    .mobile-only {
        display: none !important;
    }
}

.pl-3 {
    padding-left: 30px;
}

.pr-3 {
    padding-right: 30px;
}

.mt-30 {
    margin-top: 1000px !important;
}