<nav class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-dark mobile-only">
  <div class="container-fluid ">


    <div class="text-center text-white" routerLink="/issues">
      <i class="bi bi-file-earmark-text"></i>
      <p>Issues</p>
    </div>

    <div class="text-center text-white" routerLink="/workorders">
      <i class="bi bi-list-check"></i>
      <p>Workorders</p>
    </div>

    <div class="text-center " routerLink="/issue/add">
      <i class="bi bi-plus-circle-dotted large-icon text-primary icon-background"></i>
      <p class="mt-4 pe-3 text-white">Raise Issue</p>
    </div>

    <div class="text-center text-white active">
      <i class="bi bi-file-earmark-check"></i>
      <p>Invoices</p>
    </div>

    <div class="text-center text-white" routerLink="/member/edit">
      <i class="bi bi-person"></i>
      <p>Profile</p>
    </div>
  </div>
</nav>