<app-nav></app-nav>

<div class="container-fluid">
  <div class="row">

    <div class="border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary">
      <app-sidebar></app-sidebar>
    </div>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Home</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group me-2" *appHasRole='["Client"]'>
            <button type="button" class="btn btn-sm btn-outline-primary" routerLink="/issue/add" *ngIf="user"><i
                class="bi bi-plus-circle-dotted text-blue"></i><span>&nbsp;</span> Raise Issue</button>
          </div>
          <div class="btn-group me-2" *ngIf="!user">
            <button type="button" class="btn btn-sm btn-outline-primary" routerLink="/issue/noaccount/add"><i
                class="bi bi-plus-circle-dotted text-blue"></i><span>&nbsp;</span> Raise Issue</button>
          </div>
        </div>
      </div>

      <div class="row" *appHasRole='["Contractor"]' >
        <ul class="list-group ps-2">
          <li class="list-group-item d-flex justify-content-between align-items-start" routerLink='/issues'>
            <div class="ms-2 me-auto">
              <div class="fw-bold">Issues</div>
              List of issues
            </div>
            <span class=""><i class="bi bi-arrow-right-short text-primary bi-icon-font-size"></i></span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-start" routerLink='/workorders'>
            <div class="ms-2 me-auto">
              <div class="fw-bold">Workorders</div>
              List of workorders
            </div>
            <span class=""><i class="bi bi-arrow-right-short text-primary bi-icon-font-size"></i></span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-start" routerLink='/messages'>
            <div class="ms-2 me-auto">
              <div class="fw-bold">Messages</div>
              List of conversations
            </div>
            <span class=""><i class="bi bi-arrow-right-short text-primary bi-icon-font-size"></i></span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-start" routerLink='/invoices'>
            <div class="ms-2 me-auto">
              <div class="fw-bold">Invoices</div>
              List of invoices
            </div>
            <span class=""><i class="bi bi-arrow-right-short text-primary bi-icon-font-size"></i></span>
          </li>
        </ul>
      </div>

      <div class="row">
        <div class="col-1">
        </div>
        <div class="col-10 text-center">

          <div class="raise-icon-size">
            <div class="typewriter" *ngIf="!user">
              <h3 [class.cursor]="isTyping" class="text-black">{{ displayedText }}</h3>
            </div>
            <div class="typewriter"  *appHasRole='["SuperAdmin","Admin", "Client"]'>
              <h3 [class.cursor]="isTyping" class="text-black">{{ displayedText }}</h3>
            </div>
            <div routerLink="/issue/add" *ngIf="user">
              <div *appHasRole='["SuperAdmin","Admin", "Client"]'>
                <i class="bi bi-plus-circle-dotted text-primary"></i>
                <h5 class="pl-4 ml-5">Raise Issue</h5>
              </div>
            </div>
            <div routerLink="/issue/noaccount/add" *ngIf="!user">
              <i class="bi bi-plus-circle-dotted text-primary"></i>
              <h5 class="pl-4 ml-5">Raise Issue</h5>
            </div>
          </div>

          <p *appHasRole='["SuperAdmin","Admin", "Client"]'>Click on the plus icon to raise your issue</p>
        </div>
        <div class="col-1">
        </div>
      </div>

      <div class="row pt-5" *ngIf="!user">
        <div class="col-md-4 pt-5"></div>
        <div class="col-md-4 col-sm-12 text-center">
          <div class="card text-center bg-success bg-opacity-25">
            <div class="card-body">
              <h5 class="card-title text-black">Login or Create Account</h5>
              <p class="card-text">An account helps you track all your issues and invoices or chat with a contractor and
                more ...</p>
              <button type="button" class="btn btn-outline-primary primary btn-sm" routerLink='/login'>Log In</button>
              or
              <button type="button" class="btn btn-primary primary btn-sm" routerLink='/register'>Create
                Account</button>
            </div>
          </div>
        </div>
        <div class="col-md-4"></div>
      </div>
    </main>

  </div>
</div>

<app-footer></app-footer>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">You are not Logged In yet</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        In order to raise an issue you need to login
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" routerLink="/login">Log In Now</button>
      </div>
    </div>
  </div>
</div>
