<!-- same starts here -->
<app-nav></app-nav>

<div class="container-fluid">
    <div class="row">

        <div class="border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary">
            <app-sidebar></app-sidebar>
        </div>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div
                class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Raise Issue</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <!-- <div class="btn-group me-2" *appHasRole='["SuperAdmin","Admin","Client"]'>
                      <button type="button" class="btn btn-sm btn-outline-primary" routerLink="/issue/add"><i
                          class="bi bi-plus-circle-dotted text-blue"></i><span>&nbsp;</span> Raise Issue</button>
                    </div> -->
                  </div>
            </div>

      <!-- same ends here -->
       
      <div class="row mb-3 pb-3 ms-1">
        <!-- <div class="col-md-6">
          <div class="alert alert-success m-2 text-center" *ngIf="addIssueForm.dirty" role="alert">
            <p>You have made changes. Any unsaved changes will be lost.</p>
          </div>
        </div> -->

        <form [formGroup]='addIssueForm' (ngSubmit)="addIssue()" autocomplete="off" class="row" *ngIf="addIssueForm">

          <div class="col-md-6">
              <label for="cityId" class="form-label">From what City is your issue being raised? *</label>
              <input 
                  class="form-control" 
                  list="cities" 
                  id="cityId" 
                  formControlName="cityName"
                  placeholder="Type to search..." 
                  [class.is-invalid]="addIssueForm.get('cityName')?.errors && addIssueForm.get('cityName')?.touched">
              
              <datalist id="cities">
                  <option *ngFor="let city of cities" [value]="city.name"></option>
              </datalist>
              
              <div class="invalid-feedback">Please choose where you are based.</div>
          </div>

          <div class="col-md-6">
            <label for="issueTypeId" class="form-label">Issue Type *</label>
            <select
              [class.is-invalid]='addIssueForm.get("issueTypeId")?.errors && addIssueForm.get("issueTypeId")?.touched'
              formControlName='issueTypeId' class="form-select">
              <option *ngFor="let issueType of issueTypes;" [value]=issueType.id>{{issueType.name}}</option>
            </select>
            <div class="invalid-feedback">Please choose an issue type.</div>
          </div>

          <div class="col-md-6">
            <label for="description" class="form-label">Describe your issue *</label>
            <textarea type="text"
              [class.is-invalid]='addIssueForm.get("description")?.errors && addIssueForm.get("description")?.touched'
              class="form-control" id="description" formControlName='description' rows="10"
              placeholder="description"></textarea>
          </div>
          <div class="col-md-12 mt-3 mb-2">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" role="switch" value="" id="emergency"
                formControlName='emergency'>
              <label class="form-check-label" for="emergency">
                Is this issue an emergency?
              </label>
            </div>
          </div>

          <div class="col-md-12">
            <label>Upload a photo (optional): </label>
            <br>
            <input type="file" (change)="onFileSelected($event)" />
          </div>

          <div class="col-md-6" hidden>
            <input type="text" [(ngModel)]="user.id" formControlName='clientId' class="form-control">
          </div>

          <div class="col-12 mb-5 pt-5">
            <button type="submit" [disabled]="!addIssueForm.dirty" name="submit" id="submit"
              class="btn btn-lg btn-success mb-5">Save Issue</button>
          </div>
        </form>

      </div>
    </main>
  </div>
</div>

<app-footer></app-footer>