
<!-- same starts here -->
<app-nav></app-nav>

<div class="container-fluid">
  <div class="row">

    <div class="border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary">
      <app-sidebar></app-sidebar>
    </div>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Describe Issue</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-primary" routerLink="/issues"><i
                class="bi bi-list text-blue"></i><span>&nbsp;</span> List Issues</button>
          </div>
        </div>
      </div>

      <!-- same ends here -->
      <div class="row">

        <div class="alert alert-success m-2 text-center" *ngIf="addIssueForm.dirty" role="alert">
          <p>You have made changes. Any unsaved changes will be lost.</p>
        </div>

        <form [formGroup]='addIssueForm' (ngSubmit)="addIssue()" autocomplete="off" class="row g-3 ">

          <div class="col-md-6">
            <label for="issueTypeId" class="form-label">Issue Type</label>
            <select [class.is-invalid]='addIssueForm.get("issueTypeId")?.errors && addIssueForm.get("issueTypeId")?.touched'
              formControlName='issueTypeId' class="form-select">
              <option *ngFor="let issueType of issueTypes;" [value]=issueType.id>{{issueType.name}}</option>
            </select>
            <div class="invalid-feedback">Please choose an issue type.</div>
          </div>

          <div class="col-md-6">
            <label for="description" class="form-label">Description</label>
            <textarea type="text" [class.is-invalid]='addIssueForm.get("description")?.errors && addIssueForm.get("description")?.touched'
            class="form-control" id="description" formControlName='description' rows="10" placeholder="description"></textarea>
          </div>

          <div class="col-md-12">
            <label>Upload a photo: </label>
            <br>
            <input type="file" (change)="onFileSelected($event)" />
          </div>

          <div class="col-md-6" hidden>
            <input type="text" [(ngModel)]="user.id" formControlName='userId' class="form-control">
          </div>

          <div class="col-12">
            <button type="submit" [disabled]="!addIssueForm.dirty" name="submit" id="submit"
              class="btn btn-primary ">Save</button>
          </div>
        </form>

      </div>
    </main>
  </div>
</div>

<app-footer></app-footer>