<app-nav></app-nav>

<div class="container-fluid pb-5">
    <div class="row">

        <div class="border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary">
            <app-sidebar></app-sidebar>
        </div>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <!-- <div
                class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Invoice Detail</h1>
            </div> -->
            <section class="py-3 py-md-5 mb-5 pb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-12">
                            <div class="row gy-3 mb-3">
                                <div class="col-6">
                                    <h2 class="text-uppercase text-endx m-0">Invoice</h2>
                                </div>
                                <div class="col-6">
                                    <a class="d-block text-end" href="#!">
                                        <img src="./assets/logo.png" class="img-fluid" alt="Logo" width="135"
                                            height="44">
                                    </a>
                                </div>
                                <div class="col-12">
                                    <h4>From</h4>
                                    <address *ngIf="invoice">
                                        <strong>{{invoice.contractor.firstName}} {{ invoice.contractor.lastName}}</strong><br>
                                        {{ invoice.contractor.fullAddress}}
                                        <br>
                                        Phone: {{invoice.contractor.phone}}<br>
                                        Email: {{invoice.contractor.email}}
                                    </address>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-12 col-sm-6 col-md-8">
                                    <h4>Bill To</h4>
                                    <address *ngIf="workorder && workorder.issue.client">
                                        <strong>{{workorder.issue.client?.firstName}}</strong><br>
                                        {{workorder.issue.city.name}}<br>
                                        Phone: {{workorder.issue.client?.phone}}<br>
                                        Email: {{workorder.issue.client?.email}}
                                    </address>
                                    <address *ngIf="workorder && !workorder.issue.client">
                                        <strong>{{workorder.issue.clientName}}</strong><br>
                                        {{workorder.issue.city.name}}<br>
                                        Phone: {{workorder.issue.clientPhone}}<br>
                                        Email: {{workorder.issue.clientEmail}}
                                    </address>
                                </div>
                                <div class="col-12 col-sm-6 col-md-4" *ngIf="invoice && workorder">
                                    <h4 class="row">
                                        <span class="col-6">Invoice #</span>
                                        <span class="col-6 text-sm-end">INT-00{{invoice.id}}</span>
                                    </h4>
                                    <div class="row">
                                        <span class="col-6">Total Account</span>
                                        <span class="col-6 text-sm-end h4 text-black">R{{totalAmount}}</span>
                                        <span class="col-6">Issue ID</span>
                                        <span class="col-6 text-sm-end">#{{workorder.issue.id}}</span>
                                        <span class="col-6">Invoice Date</span>
                                        <span class="col-6 text-sm-end">{{invoiceDate}}</span>
                                        <span class="col-6">Due Date</span>
                                        <span class="col-6 text-sm-end">{{dueDate}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-12">
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th scope="col" class="text-uppercase">Qty</th>
                                                    <th scope="col" class="text-uppercase">Description</th>
                                                    <th scope="col" class="text-uppercase text-end">Unit Price</th>
                                                    <th scope="col" class="text-uppercase text-end">Amount</th>
                                                </tr>
                                            </thead>
                                            <tbody class="table-group-divider">
                                                <ng-container *ngIf="invoice && invoice.invoiceItems.length > 0">
                                                    <tr *ngFor="let invoiceItem of invoice.invoiceItems">
                                                        <th scope="row">{{invoiceItem.description}}</th>
                                                        <td class="text-end">{{invoiceItem.quantity}}</td>
                                                        <td class="text-end">{{invoiceItem.price}}</td>
                                                        <td class="text-end">{{invoiceItem.quantity * invoiceItem.price}}</td>
                                                    </tr>
                                                </ng-container>
                                                <tr>
                                                    <td colspan="3" class="text-end">VAT (0%)</td>
                                                    <td class="text-end">0</td>
                                                </tr>
                                                <tr>
                                                    <td colspan="3" class="text-end">Subtotal</td>
                                                    <td class="text-end">R{{subTotal}}</td>
                                                </tr>

                                                <tr>
                                                    <th scope="row" colspan="3" class="text-uppercase text-end">Total</th>
                                                    <td class="text-end">R{{totalAmount}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="row toRemoveOnDownload">
                                <div class="col-12 text-end">
                                    <button (click)="sendEmailInvoice()" class="btn btn-sm btn-primary mb-3 me-2" routerLink="/workorder/1/invoice/detail/1"><i class="bi-envelope pe-1"></i>Email Invoice</button>
                                    <button  (click)="downloadInvoice()" class="btn btn-sm btn-info mb-3"><i class="bi-cloud-download pe-1"></i> Download</button>
                                    <button (click)="shareInvoice()" class="btn btn-outline-primary btn-sm  mb-3 ms-2">
                                        <i class="bi bi-share pe-1"></i> Share
                                      </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </main>
    </div>
</div>

<app-footer></app-footer>