<div class="p-4 p-md-5 mb-4 text-white rounded bg-info">

    <h1 class="display-6 pb-2">Trouver des voitures neuves et d'occasion à vendre {{locationFullName}}</h1>
    <div class="container pb-2">
        <form [formGroup]='searchForm' (ngSubmit)="searchForm.valid && searchCars()" autocomplete="off">

            <!-- <div class="row">
                <div class="col-lg-9"> -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">

                        <div class="col-lg-3 col-md-3 col-sm-12 p-0" *ngIf="location != 'dubai'">
                            <label for="cityId" class="form-label">Ville</label>
                            <select [class.is-invalid]='searchForm.get("cityId")?.errors && searchForm.get("cityId")?.touched'
                                formControlName='cityId' class="form-select">
                                <option *ngFor="let city of cities;" [value]=city.id>{{city.name}}</option>
                            </select>
                            <div class="invalid-feedback">Veuillez entrer une ville.</div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                            <label for="carTypeId" class="form-label">Marque/Modèle</label>
                            <select [class.is-invalid]='searchForm.get("carTypeId")?.errors && searchForm.get("carTypeId")?.touched'
                                formControlName='carTypeId' class="form-select">
                                <option *ngFor="let carType of carTypes;" [value]=carType.id>{{carType.model}}</option>
                            </select>
                            <div class="invalid-feedback">Veuillez choisir un type de voiture.</div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                            <label for="maxPrice" class="form-label">Prix ​​maximum</label>
                            <select class="form-control form-select" formControlName='maxPrice'>
                                <option value="5000">5000 $</option>
                                <option value="10000">10 000 $</option>
                                <option value="100000">100 000 $</option>
                                <option value="200000">200 000 $</option>
                                <option value="300000">300 000 $</option>
                                <option value="400000">400 000 $</option>
                                <option value="500000">500 000 $</option>
                                <option value="1000000">1.000 000 $</option>
                                <option value="1500000">1.500 000 $</option>
                                <option value="2000000">2.000 000 $</option>
                            </select>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                            <label for="maxMileage" class="form-label">Kilometrage Maximum</label>
                            <select class="form-control form-select" formControlName='maxMileage'>
                                <option value="5000">5000 km</option>
                                <option value="10000">10 000 km</option>
                                <option value="100000">100 000 km</option>
                                <option value="200000">200 000 km</option>
                                <option value="300000">300 000 km</option>
    
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12" *ngIf="moreOptions == true">
                    <div class="row">

                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                            <label for="newUsed" class="form-label">Nouveau ou Occassion?</label>
                            <select [class.is-invalid]='searchForm.get("newUsed")?.errors && searchForm.get("newUsed")?.touched'
                                formControlName='newUsed' class="form-select">
                                <option value="Nouveau">Nouveau</option>
                                <option value="Occasion">Occasion</option>
                            </select>
                            <div class="invalid-feedback">Veuillez choisir une option.</div>
                        </div>


                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                            <label for="transmission" class="form-label">Type de transmission</label>
                            <select
                                [class.is-invalid]='searchForm.get("transmission")?.errors && searchForm.get("transmission")?.touched'
                                formControlName='transmission' class="form-select">
                                <option value="Automatique">Automatique</option>
                                <option value="Manuel">Manuel</option>
                            </select>
                            <div class="invalid-feedback">Veuillez choisir une option.</div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                            <label for="minYear" class="form-label">Année de fabrication</label>
                            <select class="form-control form-select" formControlName='minYear'>
                                <option value="2000">2000+</option>
                                <option value="2005">2005+</option>
                                <option value="2010">2010+</option>
                                <option value="2015">2015+</option>
                                <option value="2020">2020+</option>
    
                            </select>
                        </div>
                        
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                            <label for="minPrice" class="form-label">Prix ​​minimum</label>
                            <select class="form-control form-select" formControlName='minPrice'>
                                <option value="500"> 500 $</option>
                                <option value="1000">1 000 $</option>
                                <option value="10000">10 000 $</option>
                                <option value="100000">100 000 $</option>
                            </select>
                        </div>

                    </div>
                </div>

                <div class="col-lg-12 pt-2">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-6 p-0" *ngIf="moreOptions == false">
                            <button class="btn btn-default btn-outline-secondary text-white " (click)="showMoreOptions()"><h6>Afficher plus d'options de recherche</h6> </button>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 p-0" *ngIf="moreOptions == true">
                            <button class="btn btn-default btn-outline-secondary text-white" (click)="showLessOptions()"><h6>Moins d'options de recherche</h6> </button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 pt-2">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-6 p-0">
                            <button [disabled]='!searchForm.valid' type="submit" name="submit" id="submit"
                                class="btn btn-success wrn-btn"><h6>Rechercher</h6></button>
                        </div>

                    </div>
                </div>
            </div>
            <!-- </div> -->
            <!-- <div class="col-lg-3 pt-2">
                    <img src="./assets/girl.jpg" class="img-fluid" alt="photo">
                </div>
            </div> -->

        </form>
    </div>
</div>

