<div class="row" *ngIf="car">
    <div class="col-12 pb-3">
        <h3>Modifier</h3>
    </div>

    <div class="alert alert-info col-6 text-center" *ngIf="editForm.dirty" role="alert">
        <p>Vous avez apporté des modifications. Toutes les modifications non enregistrées seront perdues.</p>
    </div>
    <div class="col-12">
        <app-car-photo-editor [car]="car"></app-car-photo-editor>
    </div>
    <div class="col-12 pb-5">
        <form [formGroup]='editForm' (ngSubmit)="updateCar()" class="row g-3">

            <div class="col-md-6">
                <label for="price" class="form-label">Prix</label>
                <input type="text" [class.is-invalid]='editForm.get("price")?.errors && editForm.get("price")?.touched'
                    class="form-control" id="price" formControlName='price' [(ngModel)]="car.price" placeholder="price">
                <div class="invalid-feedback">Veuillez saisir un prix.</div>
            </div>

            <div class="col-md-6">
                <label for="year" class="form-label">Année de fabrication</label>
                <input type="text" [class.is-invalid]='editForm.get("year")?.errors && editForm.get("year")?.touched'
                    class="form-control" id="year" formControlName='year' [(ngModel)]="car.year" placeholder="year">
                <div class="invalid-feedback">Veuillez saisir un prix.</div>
            </div>

            <div class="col-md-6">
                <label for="mileage" class="form-label">Kilometrage</label>
                <input type="text"
                    [class.is-invalid]='editForm.get("mileage")?.errors && editForm.get("mileage")?.touched'
                    class="form-control" id="mileage" [(ngModel)]="car.mileage" formControlName='mileage'
                    placeholder="mileage">
                <div class="invalid-feedback">Veuillez saisir un prix.</div>
            </div>

            <div class="col-md-6">
                <label for="newUsed" class="form-label">Nouveau ou Occassion?</label>
                <select [class.is-invalid]='editForm.get("newUsed")?.errors && editForm.get("newUsed")?.touched'
                    formControlName='newUsed' [(ngModel)]="car.newUsed" class="form-select">
                    <option value="Nouveau">Nouveau</option>
                    <option value="Occasion">Occasion</option>
                </select>
                <div class="invalid-feedback">Veuillez choisir une option.</div>
            </div>


            <div class="col-md-6">
                <label for="transmission" class="form-label">Type de transmission</label>
                <select
                    [class.is-invalid]='editForm.get("transmission")?.errors && editForm.get("transmission")?.touched'
                    formControlName='transmission' [(ngModel)]="car.transmission" class="form-select">
                    <option value="Automatique">Automatique</option>
                    <option value="Manuel">Manuel</option>
                </select>
                <div class="invalid-feedback">Veuillez choisir une option.</div>
            </div>

            <div class="col-md-6">
                <label for="fuelType" class="form-label">Essence/Mazout</label>
                <select [class.is-invalid]='editForm.get("fuelType")?.errors && editForm.get("fuelType")?.touched'
                    formControlName='fuelType' [(ngModel)]="car.fuelType" class="form-select">
                    <option value="Essence">Essence</option>
                    <option value="Mazout">Mazout</option>
                </select>
                <div class="invalid-feedback">Veuillez choisir une option.</div>
            </div>

            <div class="col-md-6">
                <label for="agentId" class="form-label">Agent Immobilier</label>
                <select [class.is-invalid]='editForm.get("agentId")?.errors && editForm.get("agentId")?.touched'
                    formControlName='agentId' class="form-select">
                    <option *ngFor="let member of members;" [value]=member.id>{{member.email}}</option>
                </select>
                <div class="invalid-feedback">Veuillez choisir un agent immobilier.</div>
            </div>


            <div class="col-md-6">
                <label for="carTypeId" class="form-label">Type de voiture</label>
                <select [class.is-invalid]='editForm.get("carTypeId")?.errors && editForm.get("carTypeId")?.touched'
                    formControlName='carTypeId' [(ngModel)]="car.carTypeId" class="form-select">
                    <option *ngFor="let carType of carTypes;" [value]=carType.id>{{carType.model}} {{carType.make}}
                    </option>
                </select>
                <div class="invalid-feedback">Veuillez choisir un type de voiture.</div>
            </div>

            <div class="col-md-6">
                <label for="carColorId" class="form-label">Couleur de la voiture</label>
                <select [class.is-invalid]='editForm.get("carColorId")?.errors && editForm.get("carColorId")?.touched'
                    formControlName='carColorId' [(ngModel)]="car.carColorId" class="form-select">
                    <option *ngFor="let carColor of carColors;" [value]=carColor.id>{{carColor.name}}</option>
                </select>
                <div class="invalid-feedback">Veuillez choisir la couleur.</div>
            </div>

            <div class="col-md-6">
                <label for="cityId" class="form-label">Ville</label>
                <select [class.is-invalid]='editForm.get("cityId")?.errors && editForm.get("cityId")?.touched'
                    formControlName='cityId' [(ngModel)]="car.cityId" class="form-select">
                    <option *ngFor="let city of cities;" [value]=city.id>{{city.name}}</option>
                </select>
                <div class="invalid-feedback">Veuillez entrer une ville.</div>
            </div>


            <div class="col-md-6">
                <label for="countryId" class="form-label">Pays</label>
                <select [class.is-invalid]='editForm.get("countryId")?.errors && editForm.get("countryId")?.touched'
                    formControlName='countryId' [(ngModel)]="car.countryId" class="form-select">
                    <option *ngFor="let country of countries;" [value]=country.id>{{country.name}}</option>
                </select>
            </div>

            <div class="col-md-12">
                <label for="description" class="form-label">Description</label>
                <textarea
                    [class.is-invalid]='editForm.get("description")?.errors && editForm.get("description")?.touched'
                    class="form-control" [(ngModel)]="car.description" formControlName='description' rows="5"
                    placeholder="description"></textarea>
            </div>


            <div class="col-md-6">
                <label for="youtubeLink" class="form-label">Vidéo Youtube</label>
                <input type="text"
                    [class.is-invalid]='editForm.get("youtubeLink")?.errors && editForm.get("youtubeLink")?.touched'
                    class="form-control" [(ngModel)]="car.youtubeLink" formControlName='youtubeLink'
                    placeholder="youtubeLink">
                <div class="invalid-feedback">Veuillez entrer le lien.</div>
            </div>

            <div class="col-md-6" hidden>
                <input type="text" [(ngModel)]="user.id" formControlName='appUserId' class="form-control">
            </div>

            <div class="col-12">
                <button type="submit" [disabled]="!editForm.dirty" name="submit" id="submit"
                    class="btn btn-primary m-2">Save Changes</button>
                <a (click)="$event.stopPropagation()" (click)="markAsSoldModal(markAsSoldCar)" class="btn btn-info"><i
                        class="bi bi-trash"></i> Marquer comme vendu</a>
                <a (click)="$event.stopPropagation()" (click)="openDeleteModal(deleteCar)" class="btn btn-danger m-2"><i
                        class="bi bi-trash"></i> Supprimer cette voiture</a>
            </div>
        </form>
    </div>


    <ng-template #deleteCar>
        <div class="modal-body text-center">
            <p>Voulez-vous supprimer cette propriété ?</p>
            <button type="button" class="btn btn-default" (click)="confirmDeleteCar()">Oui</button>
            <button type="button" class="btn btn-primary" (click)="declineDeleteCar()">Non</button>
        </div>
    </ng-template>

    <ng-template #markAsSoldCar>
        <div class="modal-body text-center" id="dialog-sizes-name2">
            <p>Voulez-vous marquer cette propriété comme vendue ?</p>
            <button type="button" class="btn btn-default" (click)="confirmMarkAsSoldCar()">Oui</button>
            <button type="button" class="btn btn-primary" (click)="declineMarkAsSoldCar()">Non</button>
        </div>
    </ng-template>

</div>