<div class="row">
  <div class="col-12">
    <p>Ajouter une voiture</p>
  </div>

  <!-- <div class="alert alert-info col-md-6 text-center" *ngIf="addForm.dirty" role="alert">
      <p>You have made changes. Any unsaved changes will be lost.</p>
    </div> -->
  <div class="col-12 pb-5">
    <form [formGroup]='addForm' (ngSubmit)="addCar()" autocomplete="off" class="row g-3">

      <div class="col-md-6">
        <label for="price" class="form-label">Prix</label>
        <input type="text" [class.is-invalid]='addForm.get("price")?.errors && addForm.get("price")?.touched'
          class="form-control" id="price" formControlName='price' placeholder="price">
        <div class="invalid-feedback">Veuillez saisir un prix.</div>
      </div>

      <div class="col-md-6">
        <label for="year" class="form-label">Année de fabrication</label>
        <input type="text" [class.is-invalid]='addForm.get("year")?.errors && addForm.get("year")?.touched'
          class="form-control" id="year" formControlName='year' placeholder="year">
        <div class="invalid-feedback">Veuillez saisir un prix.</div>
      </div>

      <div class="col-md-6">
        <label for="mileage" class="form-label">Kilometrage</label>
        <input type="text" [class.is-invalid]='addForm.get("mileage")?.errors && addForm.get("mileage")?.touched'
          class="form-control" id="mileage" formControlName='mileage' placeholder="mileage">
        <div class="invalid-feedback">Veuillez saisir un prix.</div>
      </div>

      <div class="col-md-6">
        <label for="newUsed" class="form-label">Nouveau ou Occassion?</label>
        <select [class.is-invalid]='addForm.get("newUsed")?.errors && addForm.get("newUsed")?.touched'
          formControlName='newUsed' class="form-select">
          <option value="Nouveau">Nouveau</option>
          <option value="Occasion">Occasion</option>
        </select>
        <div class="invalid-feedback">Veuillez choisir une option.</div>
      </div>


      <div class="col-md-6">
        <label for="transmission" class="form-label">Type de transmission</label>
        <select [class.is-invalid]='addForm.get("transmission")?.errors && addForm.get("transmission")?.touched'
          formControlName='transmission' class="form-select">
          <option value="Automatique">Automatique</option>
          <option value="Manuel">Manuel</option>
        </select>
        <div class="invalid-feedback">Veuillez choisir une option.</div>
      </div>

      <div class="col-md-6">
        <label for="fuelType" class="form-label">Essence/Mazout</label>
        <select [class.is-invalid]='addForm.get("fuelType")?.errors && addForm.get("fuelType")?.touched'
          formControlName='fuelType' class="form-select">
          <option value="Essence">Essence</option>
          <option value="Mazout">Mazout</option>
        </select>
        <div class="invalid-feedback">Veuillez choisir une option.</div>
      </div>

      <div class="col-md-6">
        <label for="agentId" class="form-label">Agent Immobilier</label>
        <select [class.is-invalid]='addForm.get("agentId")?.errors && addForm.get("agentId")?.touched'
          formControlName='agentId' class="form-select">
          <option *ngFor="let member of members;" [value]=member.id>{{member.email}}</option>
        </select>
        <div class="invalid-feedback">Veuillez choisir un agent immobilier.</div>
      </div>


      <div class="col-md-6">
        <label for="carTypeId" class="form-label">Type de voiture</label>
        <select [class.is-invalid]='addForm.get("carTypeId")?.errors && addForm.get("carTypeId")?.touched'
          formControlName='carTypeId' class="form-select">
          <option *ngFor="let carType of carTypes;" [value]=carType.id>{{carType.model}} {{carType.make}}</option>
        </select>
        <div class="invalid-feedback">Veuillez choisir un type de voiture.</div>
      </div>

      <div class="col-md-6">
        <label for="carColorId" class="form-label">Couleur de la voiture</label>
        <select [class.is-invalid]='addForm.get("carColorId")?.errors && addForm.get("carColorId")?.touched'
          formControlName='carColorId' class="form-select">
          <option *ngFor="let carColor of carColors;" [value]=carColor.id>{{carColor.name}}</option>
        </select>
        <div class="invalid-feedback">Veuillez choisir la couleur.</div>
      </div>

      <div class="col-md-6">
        <label for="cityId" class="form-label">Ville</label>
        <select [class.is-invalid]='addForm.get("cityId")?.errors && addForm.get("cityId")?.touched'
          formControlName='cityId' class="form-select">
          <option *ngFor="let city of cities;" [value]=city.id>{{city.name}}</option>
        </select>
        <div class="invalid-feedback">Veuillez entrer une ville.</div>
      </div>


      <div class="col-md-6">
        <label for="countryId" class="form-label">Pays</label>
        <select [class.is-invalid]='addForm.get("countryId")?.errors && addForm.get("countryId")?.touched'
          formControlName='countryId' class="form-select">
          <option *ngFor="let country of countries;" [value]=country.id>{{country.name}}</option>
        </select>
      </div>

      <div class="col-md-12">
        <label for="description" class="form-label">Description</label>
        <textarea [class.is-invalid]='addForm.get("description")?.errors && addForm.get("description")?.touched'
          class="form-control" formControlName='description' rows="5" placeholder="description"></textarea>
      </div>


      <div class="col-md-6">
        <label for="youtubeLink" class="form-label">Vidéo Youtube</label>
        <input type="text"
          [class.is-invalid]='addForm.get("youtubeLink")?.errors && addForm.get("youtubeLink")?.touched'
          class="form-control" id="youtubeLink" formControlName='youtubeLink' placeholder="youtubeLink">
        <div class="invalid-feedback">Entrez un lien YouTube.</div>
      </div>

      <div class="col-md-6" hidden>
        <input type="text" [(ngModel)]="user.id" formControlName='appUserId' class="form-control">
      </div>

      <div class="col-md-12">
        <button type="submit" name="submit" id="submit" class="btn btn-primary ">Enregistrer</button>
      </div>
    </form>
  </div>
</div>